<nav id="nav" class="center grid-14">
    <div class="fonts-display clearfix">
        <p class="logo mq-mobile-i-block">
            <a title="Built by Team-Geekonix" routerLink="/">
              <img class="logo-img" src="../assets/img/icon.png" alt="Edge" style="width:70px;"/>        
            </a>
        </p>
        <br class="mq-mobile">
        <p class="cool-link text-left alpha"><a routerLink="/"  
          routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <p class="cool-link text-left" ><a routerLink="/events" 
          routerLinkActive="active">Events</a>
        <p class="cool-link text-left" ><a routerLink="/mega-events" 
          routerLinkActive="active">Mega Events</a>
        <p class="logo mq-wide-i-block mq-mid-i-block mq-small-i-block">
          <a href="https://www.facebook.com/geekonix/" target="_blank">
            <img src="../assets/img/presented.png" alt="Built By" style="width:80px;">
            <img class="logo-img" src="../assets/img/geekonix.png" alt="Team Geekonix" style="width:80px;"/>
          </a>
        <p class="cool-link text-right" ><a routerLink="/intra" 
          routerLinkActive="active">Intra</a>
        <p class="cool-link text-right" ><a routerLink="/sponsor" 
          routerLinkActive="active">Sponsor</a>
        <p class="cool-link text-right omega" ><a routerLink="/about" 
          routerLinkActive="active">About us</a>
       
    </div>
</nav>