
.presented{
    text-align: center;
    margin: 0;
}

#nav { 
    text-align: center;
}
.fonts-display {
    font-family: "freightsans_regular",sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#nav p.alpha {
    margin-left: 0;
}
#nav p {
    display: inline-block;
    vertical-align: middle;
    vertical-align: middle;
    width: 120px;
    margin: 0 10px;
}
.logo a{
    padding: 0;
    border: 0;
}

.text-left {
    text-align: left;
}
.logo a img{
    display: block;
    height: auto;
}


#nav a {
    padding-bottom: 10px;
    display: block;
    border: none;
}

#nav a:hover,a:focus,a:active{
    text-decoration: none;
}
#nav .cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgba(231, 76, 60,1.0);
    transition: width .3s;
}

#nav .cool-link:hover::after {
    width: 100%;
    //transition: width .3s;
}

a {
    -moz-transition: all 275ms;
    -o-transition: all 275ms;
    -webkit-transition: all 275ms;
    transition: all 275ms;
    cursor: pointer;
    text-decoration: none;
}

.logo a img:hover{
    display: block;
    height: auto;
}   



.mq-mobile-i-block, .mq-mobile{
    display:none!important;
}

@media screen and (max-width: 898px){
    #nav p.logo {
        margin-bottom: 10px;
        width: 120px;
    }
    #nav p, #nav p.alpha, #nav p.omega {
        margin: 0;
    }
    .mq-mobile-i-block {
        display: inline-block!important;
    }
    .mq-mobile{
        display: block!important;
    }
    .mq-wide-i-block{
        display: none!important;
    }
    #nav p.text-left, #nav p.text-right {
        text-align: center!important;
    }
    #nav p {
        width: auto;
        font-size: 20px;
        word-spacing: 1px;
        line-height: 32px;
    }
    #nav a {
        font-size: 16px;
        padding: 5px 10px;
        border: none;
        color: black;
    }
    hr.center.grid-2 {
        width: 120px;
    }
    .tagline {
        font-size: 60px;
        word-spacing: 1px;
        line-height: 70px;
        margin-top: .3em;
    }
    .fonts-display{
        letter-spacing: 1px;
    }

    a.active{
        color: rgba(231, 76, 60,1.0);
    }
}

@media screen and (max-width: 1048px) and (min-width: 898px){
    .fonts-display{
        letter-spacing: 1px;
    }
    #nav p{
        width: auto;
    }
}