<div class="container-fluid footer" style="background:#303030;    
height:100%">
<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row foot">
        <div class="col-md-6">
          <a routerLink="/accomodation">
          <h4>Accomodation</h4>
        </a>
        </div>
        <div class="col-md-6">
          <a routerLink="/schedule">
          <h4>Schedule</h4>
          </a>
        </div>
        
        <div class="col-md-6">
            <a routerLink="/merchandise">
          <h4>Merchandise</h4>
        </a>  
        </div>

        <div class="col-md-6">
          <a routerLink="/campus-ambassador"> 
          <h4>Campus Ambassador</h4>
        </a>
        </div>
      </div>
      </div>
      <div class="col-md-6">
        <div class="row">  
          <div class="col-md-12">
            <h3>Connect</h3>
            <hr>
            <a href="https://www.twitter.com/GeekonixEDGE" target="_blank">
              <i class="fa fa-twitter icon fa-2x " aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/geekonix" target="_blank">
            <i class="fa fa-instagram icon fa-2x " aria-hidden="true"></i>
        </a><a href="https://www.youtube.com/c/GeekonixEDGEOfficial" target="_blank">
          <i class="fa fa-youtube-play icon fa-2x " aria-hidden="true"></i>
           </a>
           <a href="https://www.facebook.com/Gx.Edg" target="_blank">
        <i class="fa fa-facebook icon fa-2x " aria-hidden="true"></i>
          </a>
        </div>
        </div>
      </div>
  </div>
  </div>
  </div>
  </div>
