<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4 head">{{ subevent._CategoryName }}</h1>
        <blockquote class="animated slideInRight">{{subevent._Quote}}</blockquote>
        <div class="contain">
  
            <h1 class="display" *ngIf="subevent._ProblemDescription !== ''">Problem Statement:</h1>
            <p *ngIf="subevent._ProblemDescription !== ''">{{subevent._ProblemDescription}}</p> 
          
          <h1 class="display" *ngIf="_map[0] !== ''">MAP</h1>
            <br *ngIf="_map[0] !== ''">
            
          <ul class="rule" *ngFor="let _m of _map; let i = index;" >
            <li *ngIf="_map[0] !== ''">{{_map[i]}} </li>
          </ul>
          
          <br *ngIf="_map[0] !== ''">
  
          <h1 class="display" *ngIf="_rules[0] !== ''">Rules:</h1>
           
          <ul class="rule" *ngFor="let _rule of _rules" >
            <li *ngIf="_rules[0] !== ''" [innerHTML]="_rule"></li>
          </ul>
          <h1 class="display" *ngIf="_specs[0] !== ''">Specifications:</h1>
          <br *ngIf="_specs.length !== 0">
          <ul class="rule" *ngFor="let _spec of _specs" >
              <li *ngIf="_specs[0] !== ''">{{_spec}} </li>
          </ul>
          <br *ngIf="_specs.length !== 0">
          
          <h1 class="display" *ngIf="_round.length !== 1">Rounds: </h1>
          <br *ngIf="_round[0] !== ''">
          <ul class="rule" *ngFor="let _rnd of _round;let i =index;" >
              <h1 class="displa" *ngIf="_rnd !== ''">Round {{i+1}}</h1>
              <li *ngIf="_rnd !== ''">{{_rnd}} </li>
              <br *ngIf="_rnd !== ''">
            </ul>
          <br *ngIf="_scores[0] !== ''">
          
          <h1 class="display" *ngIf="_scores[0] !== ''">Scoring Rules:</h1>
          <br *ngIf="_scores[0] !== ''">
          <ul class="rule" *ngFor="let _score of _scores" >
              <li *ngIf="_scores[0] !== ''">{{_score}} </li>
          </ul>
          <br *ngIf="_scores[0] !== ''">
          
          <h1 class="display">Contacts:</h1>
          <br>
          <ul class="contact" *ngFor="let _contact of _contacts">
            
            <li>{{_contact.name}} : <a href="tel:{{_contact.phn}}">{{_contact.phn}}</a></li>
          </ul>
               
        </div>
  
        
      </div>
    </div>
  </div>