<div class="container">
 <div class="row"> 
    <div class="col-md-4" *ngFor="let event of events">
      <ul class="ch-grid">
        <li (click)="onSelectEvent(event)"  >
        
        <div class="ch-item {{event.img}}">
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front {{event.img}}"></div>
                <div class="ch-info-back">
                  <h3>{{event.name}}</h3>         
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>