<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card cta cta--featured">
          <div class="card-block">
            <h3 class="card-title no-margin-top">Geek Alums<span class="fa fa-map pull-right"></span></h3>
          </div>
          <span class="header-line gradient-color-1"></span>
          <div class="card-block">
            <img class="card-img-top" src="../../assets/img/gxalum_6_temp2_noReg.png" alt="Card image cap" />
            <p class="card-text">Title Sponsor</p>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card cta cta--featured">
          <div class="card-block">
            <h3 class="card-title no-margin-top">TATA Consultancy Services<span class="fa fa-map pull-right"></span></h3>
          </div>
          <span class="header-line gradient-color-1"></span>
          <div class="card-block">
            <img class="card-img-top" src="../../assets/img/tcs.png" alt="Card image cap" />
            <p class="card-text">Associate Title Sponsor</p>
          </div>
        </div>
    </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card cta cta--featured">
              <div class="card-block">
                <h3 class="card-title no-margin-top">Fashion at Big Bazaar<span class="fa fa-map pull-right"></span></h3>
              </div>
              <span class="header-line gradient-color-1"></span>
              <div class="card-block">
                <img class="card-img-top" src="../../assets/img/fbb.png" alt="Card image cap" />
                <p class="card-text">Associate Title Sponsor</p>
              </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card cta cta--featured">
              <div class="card-block">
                <h3 class="card-title no-margin-top">ORACLE<span class="fa fa-map pull-right"></span></h3>
              </div>
              <span class="header-line gradient-color-1"></span>
              <div class="card-block">
                <img class="card-img-top" src="../../assets/img/Oracle_logo.jpg" alt="Card image cap" />
                <p class="card-text">Exclusive Partner</p>
              </div>
            </div>
      </div>
  </div>
  <br>
  <div class="row">

      <div class="col-md-6">
          <div class="card cta cta--featured">
            <div class="card-block">
              <h3 class="card-title no-margin-top">ADOBE<span class="fa fa-map pull-right"></span></h3>
            </div>
            <span class="header-line gradient-color-1"></span>
            <div class="card-block">
              <img class="card-img-top" src="../../assets/img/JPEG.JPG" alt="Card image cap" />
              <p class="card-text">Digital Partner</p>
            </div>
          </div>
    </div>
    <div class="col-md-6">
        <div class="card cta cta--featured">
          <div class="card-block">
            <h3 class="card-title no-margin-top">Lokenath Printers<span class="fa fa-map pull-right"></span></h3>
          </div>
          <span class="header-line gradient-color-1"></span>
          <div class="card-block">
            <img class="card-img-top" src="../../assets/img/lokenath_printers_logo.png" alt="Card image cap" />
            <p class="card-text">Printing Partner</p>
          </div>
        </div>
    </div>
  </div>
  <br>
  <div class="row">

      <div class="col-md-6">
          <div class="card cta cta--featured">
            <div class="card-block">
              <h3 class="card-title no-margin-top">Firstech<span class="fa fa-map pull-right"></span></h3>
            </div>
            <span class="header-line gradient-color-1"></span>
            <div class="card-block">
              <img class="card-img-top" src="../../assets/img/Firstec.png" alt="Card image cap" />
              <p class="card-text">Digital Partner</p>
            </div>
          </div>
    </div>
    <div class="col-md-6">
        <div class="card cta cta--featured">
          <div class="card-block">
            <h3 class="card-title no-margin-top">Career Launcher<span class="fa fa-map pull-right"></span></h3>
          </div>
          <span class="header-line gradient-color-1"></span>
          <div class="card-block">
            <img class="card-img-top" src="../../assets/img/Career-Launcher.jpg" alt="Card image cap" />
            <p class="card-text">MBA Partner</p>
          </div>
        </div>
    </div>
  </div>
  <br>
  <div class="row">

    <div class="col-md-6">
        <div class="card cta cta--featured">
          <div class="card-block">
            <h3 class="card-title no-margin-top">MD Computers Pvt. Ltd.<span class="fa fa-map pull-right"></span></h3>
          </div>
          <span class="header-line gradient-color-1"></span>
          <div class="card-block">
            <img class="card-img-top" src="../../assets/img/md.jpg" alt="Card image cap" />
            <p class="card-text">Gaming Partner</p>
          </div>
        </div>
  </div>
  <div class="col-md-6">
      <div class="card cta cta--featured">
        <div class="card-block">
          <h3 class="card-title no-margin-top">Circle Gaming<span class="fa fa-map pull-right"></span></h3>
        </div>
        <span class="header-line gradient-color-1"></span>
        <div class="card-block">
          <img class="card-img-top" src="../../assets/img/EX_ZN.jpg" alt="Card image cap" />
          <p class="card-text">Gaming Partner</p>
        </div>
      </div>
  </div>
</div>
<br>
<div class="row">

  <div class="col-md-6">
      <div class="card cta cta--featured">
        <div class="card-block">
          <h3 class="card-title no-margin-top">NVIDIA<span class="fa fa-map pull-right"></span></h3>
        </div>
        <span class="header-line gradient-color-1"></span>
        <div class="card-block">
          <img class="card-img-top" src="../../assets/img/nvidia.jpg" alt="Card image cap" />
          <p class="card-text">Gaming Partner</p>
        </div>
      </div>
</div>
<div class="col-md-6">
    <div class="card cta cta--featured">
      <div class="card-block">
        <h3 class="card-title no-margin-top">XRIG<span class="fa fa-map pull-right"></span></h3>
      </div>
      <span class="header-line gradient-color-1"></span>
      <div class="card-block">
        <img class="card-img-top" src="../../assets/img/xrig.jpg" alt="Card image cap" />
        <p class="card-text">Gaming Partner</p>
      </div>
    </div>
</div>
</div>
<br>
<div class="row">

  <div class="col-md-6">
      <div class="card cta cta--featured">
        <div class="card-block">
          <h3 class="card-title no-margin-top">Zebronics<span class="fa fa-map pull-right"></span></h3>
        </div>
        <span class="header-line gradient-color-1"></span>
        <div class="card-block">
          <img class="card-img-top" src="../../assets/img/zebronics1_logo.jpg" alt="Card image cap" />
          <p class="card-text">Assosiate Gaming Partner</p>
        </div>
      </div>
</div>
<div class="col-md-6">
    <div class="card cta cta--featured">
      <div class="card-block">
        <h3 class="card-title no-margin-top">RFT<span class="fa fa-map pull-right"></span></h3>
      </div>
      <span class="header-line gradient-color-1"></span>
      <div class="card-block">
        <img class="card-img-top" src="../../assets/img/RFT Logo 2- for Light BG.png" alt="Card image cap" />
        <p class="card-text">FIFA Partner</p>
      </div>
    </div>
</div>
</div>
<br>
<div class="row">

  <div class="col-md-6">
      <div class="card cta cta--featured">
        <div class="card-block">
          <h3 class="card-title no-margin-top">Zareens<span class="fa fa-map pull-right"></span></h3>
        </div>
        <span class="header-line gradient-color-1"></span>
        <div class="card-block">
          <img class="card-img-top" src="../../assets/img/zaareen_logo.png" alt="Card image cap" />
          <p class="card-text">Food for fun Event Partner</p>
        </div>
      </div>
</div>
<div class="col-md-6">
    <div class="card cta cta--featured">
      <div class="card-block">
        <h3 class="card-title no-margin-top">IIHT<span class="fa fa-map pull-right"></span></h3>
      </div>
      <span class="header-line gradient-color-1"></span>
      <div class="card-block">
        <img class="card-img-top" src="../../assets/img/iiht_logo.jpg" alt="Card image cap" />
        <p class="card-text">Assosiate Knowledge Partner</p>
      </div>
    </div>
</div>
</div>
<br>
<div class="row">

  <div class="col-md-4">
      <div class="card cta cta--featured">
        <div class="card-block">
          <h3 class="card-title no-margin-top">Berger<span class="fa fa-map pull-right"></span></h3>
        </div>
        <span class="header-line gradient-color-1"></span>
        <div class="card-block">
          <img class="card-img-top" src="../../assets/img/berger logo.jpg" alt="Card image cap" />
        </div>
      </div>
</div>
<div class="col-md-4">
    <div class="card cta cta--featured">
      <div class="card-block">
        <h3 class="card-title no-margin-top">SITI Cable<span class="fa fa-map pull-right"></span></h3>
      </div>
      <span class="header-line gradient-color-1"></span>
      <div class="card-block">
        <img class="card-img-top" src="../../assets/img/siti_logo.jpg" alt="Card image cap" />
        <p class="card-text"></p>
      </div>
    </div>
</div>
<div class="col-md-4">
  <div class="card cta cta--featured">
    <div class="card-block">
      <h3 class="card-title no-margin-top">News Mania<span class="fa fa-map pull-right"></span></h3>
    </div>
    <span class="header-line gradient-color-1"></span>
    <div class="card-block">
      <img class="card-img-top" src="../../assets/img/news_mania_logo.jpg" alt="Card image cap" />
      <p class="card-text"></p>
    </div>
  </div>
</div>
</div>

<br>
</div>  