<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h1 class="display">Contact</h1>
        <br>
        <ul class="contact" >
          
          <li>Shuvojit Ray Chaudhuri : <a href="tel:+91-9564198347">+91 95641 98347</a></li>
          <li>Ayush Tiwari : <a href="tel:+91-79806 27475">+91 79806 27475</a></li>
          <li>Mail Us : <a href="mailto:marketing@edg.co.in">marketing@edg.co.in</a></li>
          
        </ul>
             
      </div>
  </div>
</div>