.display{
    font-size: 2.9rem;
    margin-bottom: 10px;
}

.container{
    padding: 3%;
    border-radius: 5px;
    background: white;
    min-height: 71vh;
    overflow-x: hidden;
}  

.contact{
    list-style: none;
    line-height: 200%;
}

.rule{
    line-height: 190%;
}
.head {
    text-align: center;
}

p{
    font-size: 1.3rem;
    padding: 1% 3%;
}





@media only screen and (min-width: 480px) and (max-width: 896px)  {
    .display{
        font-size: 2.2rem;
        margin-bottom: 10px;
        text-align: center;
    }
    p, li{
        font-size: 1rem;
        text-align: justify;
        padding: 2%;
    }
    .container{
        overflow-x: hidden;
    }   
}

@media only screen and (max-width: 480px){

    .display{
        font-size: 2rem;
        margin-bottom: 10px;
        text-align: center;
    }
    .rule{
        line-height: 100%;
    }
    p,li{
        font-size: 1rem;
        text-align: justify;
    }
    .container{
        overflow-x: hidden;
    }
}