<div class="container">
    <div class="col-md-12">
      <b>
          <p>
              <em>
                Registration detail for EDGE'18
              </em>
            </p>
            
      </b>
      <p>
        Download the Registration Details here 
        <a href="../assets/RegistrationfeeEDGE18.pdf" target="_blank" style="color:red">Registration Detail</a>
      </p>
      <b>
          <p>
              <em>
                Schedule detail for EDGE'18
              </em>
            </p>
            <p>
              Download the Schedule Details here 
              <a href="../assets/ScheduleEDGE1.pdf" target="_blank" style="color:red">Schedule Detail</a>
            </p>
            
      </b>
      <br>
      <br>
        <b>
            <p><em>Schedule for Intra Fest of Techno India,Salt Lake 
                (5th-7th March,2018)</em></p>
        </b>
        
       <p>Download the Schedule here <a href="../assets/Schedule_Intra_2018.pdf" target="_blank" style="color:red">Schedule</a></p>    
       <b><p><em>Scan the given QR code via PayTM to pay the respective registration amount for the event which you want to participate in.
          Leave your details (Name, Year, College) in the comment section in PayTM.
          Collect your receipts from the Edge Room,TISL</em></p></b>
      <p style="text-align:center">
          <a href="../assets/PaytmQRbanner-1.pdf" target="_blank">
        <button class="btn btn-outline-danger">Code</button>
            </a>
      </p> 
    </div>
  </div>