<div class="container">
    <p><em>The official EDGE'18 merchandise T-Shirts are up for grabs. Suit up in the Geek Armour and gladiate your way into the edge of a new beginning.
        Price-Rs 250
        Prebook to get 10% discount i.e., get it for Rs 225. Hurry up!</em></p>
        <br>
    <div class="row">
      <div class="col-md-6">
        <img src="../assets/img/Icons/merchposter1.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
        <img src="../assets/img/Icons/merchposter2.jpg" alt="" class="img-fluid">
      </div>

      </div>  
      <br>
      <p><em>Scan the given QR code to prebook with an amount of Rs 100. Collect your receipts from the Edge Room,TISL</em></p>
      <p style="text-align:center">
          <a href="../assets/PaytmQRbanner-1.pdf" target="_blank">
        <button class="btn btn-outline-danger">Code</button>
            </a>
      </p>
    </div>
