
<div class="container-fluid" style="height:71.1vh;">
  <div class="row">
    <div class="col-md-12">
      <p class="para">Scheduled on 6th, 7th and 8th April, 2018</p>
    </div>
    <img src="../assets/img/ezgif.com-video-to-gif.gif" class="img-fluid hero" alt="Hero " >

  </div>
</div>

<!--
<div class="container-fluid">
  
  <div class="Iam">
    <p>EDGE'18</p>
    <b>
      <div class="innerIam">
        <br> 
        a theme in progress<br />
        built on bootstrap<br />
        how I learn stuff<br />
        how we do it
        </div>
    </b>
    </div>
  
</div>
-->    